PLANFIX_BASE_URL=https://your-account.planfix.com/rest
PLANFIX_API_TOKEN=
PLANFIX_TAGS=task,contact,project,comments
PLANFIX_INCLUDE_OPERATION_IDS=
PLANFIX_EXCLUDE_OPERATION_IDS=
PLANFIX_VALIDATE_OUTPUT=true